<table border="2px">
    <th>Employee Id</th>
    <th>Employee Name</th>
    <th>Employee Job</th>
    <th>Employee Salary</th>
    <th>Employee Department</th>
    
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{role}}</td>
        <td>{{salary}}</td>
        <td>{{departmentNo}}</td>
        
    </tr>
</table>
<h3>Iterate using *ngFor</h3>

<p>*ngFor is used to iterate a list in the template</p>

<span *ngFor = "let username of listOfNames">
            {{username}}
        </span>
    

<h3>Another way is with using index</h3>

        <span *ngFor = "let username of listOfNames;let i=index">
            {{listOfNames[i]}}
        </span>

        <h3>For displaying images, put all images in assets folder</h3>
<img src="../../assets/stock.jpg" />

    
    <div *ngFor="let items of listOfProducts;let i=index" class="card">
    
        Product ID : <p>{{items.pid}}</p>
        Product Name :<p>{{items.pname}}</p>
        Product Category : <p>{{items.category}}</p>
        Product Quantity :<p>{{items.quantity}}</p>
        Index Location : <p>{{i}}</p>
</div>