<!-- <h3 align="center">Shopping Kart</h3>
<hr/>

<div *ngFor = "let menu of menus" style="text-align: center;">
<a [routerLink]=" [menu.link] ">{{menu.name}}</a>  |
</div>

<hr/> -->


<app-login></app-login>

    <!-- <router-outlet></router-outlet> -->


<!-- <app-emp></app-emp> -->
<!-- <app-dept-list></app-dept-list>
 -->
<!-- <app-product></app-product> -->
<!-- <app-emp-list></app-emp-list> -->
<!-- <app-emp-range></app-emp-range> -->

<!-- <app-emp-crud></app-emp-crud> -->
<!-- <app-switch-example>
</app-switch-example> -->

<!-- <app-fancy-card>
    <h1 top>This is the header from the parent component</h1>
    
    <app-product-list>
        <span>This is the data from product-list component</span>
    </app-product-list>

    <p>This is the default ng-content data from parent component to fancy-card</p>

    <h4 bottom>This is the footer from the parent Component</h4>
</app-fancy-card> -->

<!-- <app-todo></app-todo> -->
<!-- <app-observable-demo></app-observable-demo> -->

<!-- <app-vehicle-reg></app-vehicle-reg> -->
<!-- <h3>Task - 1</h3>
<p    appCustomDirective> Attribute Custom Directive Text </p>    
    <p    [appCustomDirective]=" 'Blue' "> Attribute Custom Directive Text</p>
    <p    [appCustomDirective]=" 'Green' "> Attribute Custom Directive Text </p>

<h3>Task - 2</h3>
<div *appAdminPanel=" 'Scott' ">
This Content is for Scott Admin
</div>

<div *appAdminPanel=" 'Smith' ">
    This Content is for Smith Admin
</div>
<div *appAdminPanel=" 'Sam' ">
    This Content is for Sam Admin
</div>
<div *appAdminPanel=" 'Robert' ">
    This Content is for Robert Admin
</div> -->