
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <br /><br />
      <mat-card-content>
        <mat-form-field type="text" class="example-full-width" appearance="fill">
          <mat-label>Username</mat-label>
  <input matInput placeholder="Enter your Username" required>
        </mat-form-field>
      
        <br/>
        <br/>

        <mat-form-field type="password" class="example-full-width" appearance="fill">
          <input type="password" matInput placeholder="Enter your Password" required>
          <mat-label>Password</mat-label>
        </mat-form-field>
      
        <br/>
        <br/>
      
        <button mat-raised-button color="primary" (click)="onSubmit()">Login</button>
      </mat-card-content>
      
    </mat-card>