<form [formGroup]="loginForm">
    <fieldset>
        
        <label for="username">Username : </label>
        <input type="text" formControlName="username" id="username" />
        &nbsp;<span class="error" *ngIf="getControl('username')?.hasError('required') && getControl('username')?.dirty">username is Required</span>
    
        <br>
        <br>
        
        <label for="password">Password: </label>
        <input type="password" formControlName="password" id="password" />
        &nbsp;<span class="error" *ngIf="getControl('password')?.hasError('required') && getControl('password')?.dirty">password is Required</span>
        

        <br>
        <br>
        
    </fieldset>
    
    <input type="button" (click)="onSubmit()" value="Login" [disabled]="loginForm?.invalid" />
</form>