<form>
   Id: <input type="number" placeholder="Enter Employee Number" [(ngModel)]="empno" name="empno"/>
    Name : <input type="text" placeholder="Enter Employee name" [(ngModel)]="ename" name="ename"/>
    Job : <input type="text" placeholder="Enter Employee Designation" [(ngModel)]="job" name="job"/>
    Salary : <input type="number" placeholder="Enter Employee Salary" [(ngModel)]="salary" name="salary"/>
    Dept Number : <input type="number" placeholder="Enter Employee Department Number" [(ngModel)]="deptno" name="deptno"/>
    
</form>

<button type="button" (click)="getData()">Get Employee Data</button>
<button type="button" (click)="update()">Add Employee</button>
<button type="button" (click)="update()">Update Employee</button>
<h2>Filters</h2>
<br>
<br>
1. <button type="button" (click)="sortData()">Sort Data Based On Salary</button>
<br>
<br>
2. Enter Designation : <input type="text" [(ngModel)]="filterJob"/>
&nbsp;&nbsp;<button type="button" (click)="getEmployeeByJob()">Display employee details based on the job</button>
<br>
3. Enter Department No : <input type="number" [(ngModel)]="filterDept" />
&nbsp;&nbsp;<button type="button" (click)="getNameAndDepartment()">Manager names works in the given department</button>  
<br>
<br>
4. <button type="button" (click)="getNameAndDesignation()">Display all employee names and along with designation</button>  
<br>
<br>
5. <button type="button" (click)="getEmployeeByDeptNumber()"> Display employees who not working in deptno - 6</button>
<br>
<br>

<div *ngFor="let name of names">
    Employee Name : {{name}}
</div>


<div *ngFor="let emp of nameAndJob">
    <p>Employee Name : {{emp.ename}} || <span>Job : {{emp.job}}</span></p>

</div>
<table border="2">
    <th *ngFor="let header of employeeHeaders">
        {{header}}
    </th>
    <tr *ngFor = "let emp of empData;let i=index">
        <td>{{emp.empno}}</td>
        <td>{{emp.ename}}</td>
        <td>{{emp.job}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.deptno}}</td>
        <td><a  href="javascript:void(0)" (click)="selectData(emp)">Select</a>
            <br>
            <a href="javascript:void(0)" (click)="deleteEmp(emp.empno)">Delete</a>
        </td>
    </tr>
</table>

