<router-outlet></router-outlet>
<!-- <app-emp></app-emp> -->
<!-- <app-dept-list></app-dept-list>
 -->
<!-- <app-product></app-product> -->
<!-- <app-emp-list></app-emp-list> -->
<!-- <app-emp-range></app-emp-range> -->

<!-- <app-emp-crud></app-emp-crud> -->
<!-- <app-switch-example>
</app-switch-example> -->

<!-- <app-fancy-card>
    <h1 top>This is the header from the parent component</h1>
    
    <app-product-list>
        <span>This is the data from product-list component</span>
    </app-product-list>

    <p>This is the default ng-content data from parent component to fancy-card</p>

    <h4 bottom>This is the footer from the parent Component</h4>
</app-fancy-card> -->

<!-- <app-todo></app-todo> -->
<!-- <app-observable-demo></app-observable-demo> -->

<app-crud-demo></app-crud-demo>