<!-- 
 <h3>Mobiles</h3>
 <app-product-list [category]="'Mobiles'"></app-product-list>
<h3>Electronics</h3>
 <app-product-list category="Electronics"></app-product-list>
<h3>Shoes</h3>
 <app-product-list category="Shoes"></app-product-list>
  -->
<!-- 
 Select Category : <select  [(ngModel)] = "selectedLoc">
     <option>Electronics</option>
     <option>Shoes</option>
     <option>Mobiles</option>
     <option value="all">All Locations</option>
     
     
 </select> -->
<app-sort-list (onSortColumnChange)="updateSelectedColumn($event)"></app-sort-list>
 
 <!-- <app-product-list [category]="selectedLoc"></app-product-list> -->

 <app-product-list [sortColumn]="selectedCol"></app-product-list>
 